<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/Singapore2014/unitpngfix.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/Singapore2014/css/style.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/Singapore2014/css/style.css">

</head>

<body>
<div id="main_container">
  <div class="top_leafs"><img src="http://i.imgur.com/JedjWca.png" alt="" /></div>
  <div id="header">
    <div class="logo"> <a href="http://unc.edu/">Traveling Tarheel</a> </div>
    <div class="menu">
      <ul>
        <li class="selected"><a href="http://daniellewingler.github.io/Singapore2014/">home</a></li>
        <li><a href="http://www.free-css.com/">about me</a></li>
        <li><a href="http://www.free-css.com/">maps</a></li>
        <li><a href="{{ site.baseurl }}/posting.html">blog</a></li>
        <li><a href="http://www.free-css.com/">contact me</a></li>
      </ul>
    </div>
  </div>
  <div id="center_content">
    <div class="left_content">
      <h1>Welcome</h1>
      <p> <img src="http://i.imgur.com/yWRLWQy.gif" alt="" class="left_icon" /> This website has been created to document
      my time as an exchange student for a semester in Singapore. I am a student at the University of North Carolina at Chapel Hill. This
      is my first time traveling outside of the United States. 
      </p>
      <h1>Maps</h1>
      <p> <img src="http://i.imgur.com/qGz2ivK.gif" alt="" class="right_icon" /> Will be updating this soon. </p>
      <h1>Photos</h1>
      <div class="photos_block">
        <div class="photo_box"> <a href="http://imgur.com/a/avTeE#0"><img src="http://i.imgur.com/nyxhioF.jpg" alt="" class="photo" border="0" /></a><br />
        
        <div class="photo_box"> <a href="http://www.free-css.com/"><img src="http://i.imgur.com/M0tk3e9.jpg" alt="" class="photo" border="0" /></a><br />
          <a href="http://www.free-css.com/" class="view">view</a> </div>
        <div class="photo_box"> <a href="http://www.free-css.com/"><img src="http://i.imgur.com/oPGmFDl.jpg" alt="" class="photo" border="0" /></a><br />
          <a href="http://www.free-css.com/" class="view">view</a> </div>
      </div>
    </div>
    <div class="right_content">
      <h1>Travel tips</h1>
      <div class="tip_box">
        <h2>Coming soon.</h2>
        <p class="tips"> Coming soon. </p>
        <a href="http://www.free-css.com/" class="read_more">read more</a> </div>
      <div class="tip_box">
        <h2>Coming soon.</h2>
        <p class="tips"> Coming soon. </p>
        <a href="http://www.free-css.com/" class="read_more">read more</a> </div>
      <h1><a href="{{ site.baseurl }}/posting.html">Blog News</a></h1>
      <div class="news_box">
        <div class="date_box"> <span class="day">00</span><br />
          <span class="month">Jan</span> </div>
        <div class="news_content">
          <h2>Travel News</h2>
          <p> Coming soon. </p>
        </div>
      </div>
      <div class="news_box">
        <div class="date_box"> <span class="day">00</span><br />
          <span class="month">Jan</span> </div>
        <div class="news_content">
          <h2>Travel Update</h2>
          <p> Coming soon. </p>
        </div>
      </div>
    </div>
    <div class="bottom_content">
      <div class="about_text">
        <h1>About Site</h1>
        <p> Hosted by GitHub. The CSS can be found <a href="http://www.free-css.com/">here</a>. </p>
      </div>
      <div class="friends_list">
        <h1>Inspiration</h1>
        <ul class="list">
          <li><a href="http://www.free-css.com/">Another blog</a></li>
          <li><a href="http://www.free-css.com/">Another blog</a></li>
          <li><a href="http://www.free-css.com/">Another blog</a></li>
          <li><a href="http://www.free-css.com/">Another blog</a></li>
        </ul>
      </div>
      <div class="bottom_right"> <a href="http://www.free-css.com/"><img src="http://i.imgur.com/0BsP3k9.gif" alt="" border="0" /></a> <a href="http://csstemplatesmarket.com"><img src="images/csstemplatesmarket.gif" alt="" border="0" /></a> </div>
      <div class="footer"> &copy; Singapore2014 2013. All Rights Reserved </div>
    </div>
  </div>
</div>
</body>
</html>
